#grid {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 25vh;
    list-style: none;
    grid-gap: 0;
    padding: 0;
}
#grid li > img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}